{% macro render_newtask_modal(flask_app) %}

  <div class="modal fade" id="start_task">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">New Task</h4>
        </div>
        <div class="modal-body">
          <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css" >
          <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
          <script src="/static/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
          <script type="text/javascript" src="/static/js/jquery.form.js"></script>
          {% set scheduler =  flask_app.config["scheduler_proxy"]  %}
          <form role="form" class="form-horizontal" id="form_new_task" method="post" action="/task_start"  autocomplete="on"  >
          
            <div class="form-group">
              <label for="project" class="col-sm-2 control-label">Project</label>
              <div class="col-sm-4">
                <select class="form-control" id="project"  name="project_name">
                  {% for project in scheduler.project_all() %}
                  <option>{{project["project_name"]}}</option>
                  {% endfor %}
                </select>
              </div>

              <label for="spider" class="col-sm-2 control-label">Spider</label>
              <div class="col-sm-4">
                <select class="form-control" id="spider"  name="spider_name"></select>
              </div>
            </div>

            <div class="form-group">

              <label for="task_name" class="col-sm-2 control-label" >task&nbsp;name</label>

              <div class="col-sm-10">
                <input type="text" class="form-control" id="task_name" name="task_name" value=""></div>
            </div>

            <div class="form-group">
              <label for="spider_params" class="col-sm-2 control-label">spider&nbsp;params</label>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <textarea class="form-control" rows="3" id="spider_params"  name="spider_params"></textarea>
                <span class="help-block">eg: name=value (one line one param)</span>
              </div>
            </div>
            <div class="form-group">
              <label for="cron_type_none"  class=" col-sm-2 control-label">例行</label>
              <label class="radio-inline col-sm-2 control-label" data-toggle="tooltip" data-placement="left" title="不例行，立即启动">
                <input type="radio" name="cron_type" id="cron_type_none" value="no" checked="true"   >no</label>
              <label class="radio-inline col-sm-2 control-label" data-toggle="tooltip" data-placement="left" title="每相隔特定时间执行一次">
                <input type="radio" name="cron_type" id="cron_type_interval" value="interval"  >interval</label>
              <label class="radio-inline col-sm-2 control-label"  data-toggle="tooltip" data-placement="left" title="未来某个特定时间点执行一次">
                <input type="radio" name="cron_type" id="cron_type_date" value="date">date</label>
              <label class="radio-inline col-sm-2 control-label"  data-toggle="tooltip" data-placement="left" title="类unix的crontab方式">
                <input type="radio" name="cron_type" id="cron_type_cron" value="cron">crontab</label>
            </div>
            <div class="form-group">
              <label for="start_date" class="col-sm-2 control-label">生效时间</label>
              <div class="col-sm-4" data-toggle="tooltip" data-placement="left" title="interval/crontab类型的任务生效时间，date类型的执行时间">
                <input class="datetimepicker" type="text" name="start_date" id="start_date"></div>

              <label for="end_date" class="col-sm-2 control-label">失效时间</label>
              <div class="col-sm-4"  data-toggle="tooltip" data-placement="left" title="interval/crontab类型的任务失效时间，date类型无需设置">
                <input class="datetimepicker" type="text" name="end_date" id="end_date"></div>
            </div>
            <div class="form-group">
              <label for="cron_minute" class="col-sm-2 control-label">interval/cron:</label>
              <div class="col-sm-2">
                <input type="text" name="cron_minute" id="cron_minute" style="width:100%" placeholder="分钟"></div>
              <div class="col-sm-2">
                <input type="text" name="cron_hour" id="cron_hour" style="width:100%" placeholder="小时"></div>
              <div class="col-sm-2">
                <input type="text" name="cron_day" id="cron_day" style="width:100%" placeholder="天"></div>
              <div class="col-sm-2">
                <input type="text" name="cron_month" id="cron_month" style="width:100%" placeholder="月">
                </div>
                <div class="col-sm-2">
                  <input type="text" name="cron_week" id="cron_week" style="width:100%" placeholder="星期"></div>

            </div>



          </form>

          <script type="text/javascript">
            var project_all = {{scheduler.project_all()|tojson|safe }}
            function update_spider_select () {
                  var project_name = $("#project").children('option:selected').val();
                  $("#spider").empty()
                  for ( var i   in project_all)
                  {
                          var project = project_all[i];
                          if (project.project_name == project_name)
                          {
                              for (var j in project.spiders) {
                                  $("#spider").append("<option>"+project.spiders[j]+"</option>");
                              };
                              
                          }
                   }
            }
            // $('#form_new_task').submit(function() {
            
            //      $("#this").ajaxSubmit(function(data) {
            //             alert(data.msg)
            //             // 对于表单提交成功后处理，message为提交页面operation.htm的返回内容
            //             return false;
            //        });
            //      return false;
            // });

            function init (argument) {
                          $('.datetimepicker').datetimepicker({
                            format: 'yyyy-mm-dd hh:ii',
                            language:"zh-CN",
                            startDate:new Date(),
                            todayHighlight:true,
                            initialDate:new Date(),
              });
              $('#form_new_task').ajaxForm(function(data){
                                alert(data.msg)//弹出ajax请求后的回调结果
                                $('#start_task').modal('hide');
                                
                                return false;
            
                });

            }
            $(document).ready(function(){
                    init();
                    $("#project").change(update_spider_select);
                    update_spider_select();

            });

</script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="form_new_task">Start</button>
        </div>
      </div>
      <!-- /.modal-content --> </div>
    <!-- /.modal-dialog --> </div>
  <!-- /.modal -->

  {% endmacro %}