  {% set scheduler =  flask_app.config["scheduler_proxy"]  %}
  {% set _CLASSES = { "Running":"active","Failed":"danger","Pending":'info',"Succeed": 'success', 'Killed':"warning","Error":"danger"} %}

  <h2>Run</h2>
      <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Project</th>
          <th>Version</th>
          <th>TaskName</th>
          <th>TaskId</th>
          <th>CreateTime</th>
          <th>StartTime</th>
          <th>RunTime</th>
          <th>Status</th>
          <th>Log</th>
          <th>Action</th>
        </tr>
      {% for task in scheduler.task_all() %}
        <tr class="{{_CLASSES[task.status]}}">
          <td >{{task["project_name"]}}</td>
          <td >{{task["project_version"]}}</td>
          <td >{{task["name"]}}</td>
          <td >{{task["task_id"]}}</td>
          <td>{{task["create_time"].strftime("%Y-%m-%dT%H:%M:%S")}}</td>
          <td >{{task["start_time"].strftime("%Y-%m-%dT%H:%M:%S")}}</td>
          <td >{{task["run_time"]}}</td>
          <td>{{task["status"]}}</td>
          <td>查看</td>
          <td><!-- Indicates caution should be taken with this action -->
                <button type="button" class="btn btn-warning  btn-xs" onclick=stop_job('{{task["task_id"]}}')>stop</button>

                <!-- Indicates a dangerous or potentially negative action -->
                <button type="button" class="btn btn-danger  btn-xs" onclick="kill_job('{{task["task_id"]}}')">kill</button>
</td>
        </tr>
        {% endfor %}        
        </tbody>
        </table>