<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>scrapy manager</title>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="/static/js/flask.js"></script>
</head>
<body>
  {% set scheduler =  flask_app.config["scheduler_proxy"]  %}
  {% set _CLASSES = { "Running":"active","Failed":"danger","Pending":'info',"Succeed": 'success', 'Killed':"warning","Error":"danger"} %}
  



  <div class="container">

  {% from "_newtask.html" import render_newtask_modal %}
  {{render_newtask_modal(flask_app)}}


  </div>
  <div class="container" >
    <h2>Project</h2>
    <button type="button"  class="btn btn-primary btn-sm"  >ReLoad</button>
    <div id="project_list"></div>

  </div>
  <div class="container">
  <h2>Run</h2>
  <div>


  <button type="button"  class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#start_task">New</button>
 <a href="/crontab"> <button type="button"  class="btn btn-primary btn-sm"  >Crontab</button> </a>
</div>
  <div  id="run_list"></div>

  </div>
  <div class="container" >
<h2>History</h2>
<div  id="history_top">

</div>
</div>
 




<script type="text/javascript">


              $(document).ready(function(){
                  load_module_page("project_list","/project_list");
                  load_module_page("run_list","/run_list");
                  load_module_page("history_top","/history/1/10");

                  window.setInterval(function  () {
                  load_module_page("run_list","/run_list");
                  load_module_page("history_top","/history/1/10");
                    // body...
                  },30000);
            });

</script>
</body>
</html>