<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{task.task_id}}</title>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="/static/js/flask.js"></script>
</head>
<body>
  {% set scheduler =  flask_app.config["scheduler_proxy"]  %}
  {% set _CLASSES = { "Running":"active","Failed":"danger","Pending":'info',"Succeed": 'success', 'Killed':"warning","Error":"danger"} %}
  



  <div class="container" >
  <h2>Info</h2>
<table class="table table-bordered">
  
  <tbody>
  {% set T = task.to_dict() %}
  {%   for name in ["project","version","spider","status","task_name","task_id","commands","create_time","start_time","end_time","work_path","log_path","data_path"] %}
  <tr>
    <th>{{name}}</th>
    <td> {{T[name]}}</td>
  </tr>

  {%endfor%}
  </tbody>
</table>


  </div>

  <div class="container" >
<h2>Stats</h2>
<div id="task_stats"></div>
<table class="table table-bordered">
  
  <tbody>
  {% set scrapy_stats = task.stats()  %}

  {%  for name in scrapy_stats.keys() | sort  %}
  <tr>
    <th>{{name}}</th>
    <td> {{scrapy_stats[name]}}</td>
  </tr>

  {%endfor%}
  </tbody>
</table>
  </div>
<div class="container">
<h2>Log</h2>

    <a href="">scrapy.log</a><br>
    <a href="">stdout.log</a><br>
    <a href="">stderr.log</a><br>
    
</div>
<script type="text/javascript">


              $(document).ready(function(){
                  load_module_page("task_stats","/task/stats/{{task.task_id}}");


                  window.setInterval(function  () {
                    load_module_page("task_stats","/task/stats/{{task.task_id}}");
                  },10000);
            });

</script>

</body>
</html>